* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
}

body {
  color: #ffffff;
  background: linear-gradient(to right, black, gray);
}

input[type=text],
input[type=number],
input[type=checkbox] {
  margin: 0.2rem 0.2rem 0 1rem;
  border-color: rgb(251, 255, 0);
}

#table {
  margin: 0 auto;
  border-collapse: collapse;
  margin-bottom: 4rem;
}

th, td {
  width: 10rem;
  border: 2px solid black;
  text-align: center;
  padding: 0.5rem 0;
  background-color: rgba(220, 220, 220, .4);
}

